h1{
    font-family: Arial, Helvetica, sans-serif;
    color:black
}
#border{
    border:5px solid green;
    padding: 10px;
    margin: 10px;
}
#bruh{
    border-left:5px solid green;
}
#btn{
    background-color: green;
    font-family: 'Courier New', Courier, monospace;
    color:white
}