h1{
    background-color: green;
    height: 100px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:auto;
    height: 50px;
    margin: auto;
    background-color:rgb(226, 150, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    gap: 20px;
    padding: 20px;
}
nav a{
    text-decoration: none;
}
h2+p{
    color: blue;
    font-family:'Times New Roman', Times, serif;
}
nav a:hover{
    background-color:cyan;
    font-weight: bold;
    padding: 5px 10px;
}
#foot{
    text-align: center;
    background-color: black;   
    color: white;
}
