h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
thead{
    background-color: blue;
    color: white;
}
table{
    border-collapse: collapse;
    border-color: 5px grey;
}
.highlight1{
    background-color: green;
    color:white;
}
.highlight2{
    background-color: orange;
    color:black;
}
.highlight3{
    background-color: red;
    color:white;
}